body {
    font-family: 'Nunito', sans-serif;
    background-image: url('fondo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.user-icon {
    width: 80px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
}

.input-group i {
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
}

.login-btn {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.login-btn:hover {
    opacity: 0.5;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.social-login button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.social-login button:hover {
    opacity: 0.5;
}

.facebook {
    background: #3b5998;
    color: white;
}

.twitter {
    background: #1da1f2;
    color: white;
}

.google {
    background: #db4437;
    color: white;
}
